<div class="col-md-12 padd ">
    <hr>
    
    <p class="lead bold">
    Lorain County MUSIC FEST is a 10 year ongoing not for profit, all ages, local, live music 3-Day camping event. 
    Held annually with the help & love of donors, volunteers, musicians & music supporters! We've been offered a property
to own and need help to secure a downpayment! YOU can help local music have a HOME!
</p>

</div>


<div class="row light">

    <div class="col-md-6">
        <h2>About this project</h2>
        <p class='story1'>
            Lorain County Music Fest is a not for profit, for the LOVE of Music, donation sponsored, volunteer staffed, music supporters & performers event. 
            It is our way of putting back the gifts we have into our community. We believe: Music is the Universal Language we ALL understand. We showcase established, 
            as well as new, up & coming acts & also debut 1st time out performers, in a non biased outdoor concert venue that welcomes all genres & all ages in a peaceful 
            nature appreciative camping community atmosphere. In short we have provided through donations and volunteering, an affordable camping and music venue for all in our community and beyond.  
        </p>
        <h2>Every year</h2>
        <p class='story1'>
            Since 2005 we have launched this event on a wing, a prayer & lots of good Chi, (we did loose 1 year way back due to lack of funding) this August 5th-7th 2016 will be our 10 year anniversary! 
            We have been hosting 3 events a year for the last few years, Cinco De Mongo Fest in May, Red Fall Fest in the Fall. with Lorain County Music Fest in August being our biggest & longest annual event! 
            We draw an average of about 250 to 300 people per show with our best attendance being near 550! 
            <br><br>
            We now have a property owner that is willing to work with us on a lease to own for the permanent festival site. We only need $5,000 down. 
            The building on the property is sound & has been remodeled & updated to almost completion. The only main repair left needed is a roof, which we can accomplish for around $1000 for materials.
            We already have a volunteer roofing crew! Obtaining the property will mean we no longer have to struggle to pay for the venue itself (although all previous properties & their people have been amazing!) 
            the donations can go towards the necessary promoting, porta potties, & and other needs. Our mission is to make this a self sustaining property with (already partially established!) food gardens, 
            a covered stage with sound & housing for volunteers, and staff during events. We have been & will continue making & providing all natural/organic produce, salves, balms & other natural/organic products, 
            plants & produce to the community, We already have established providers & customers! 
        </p>
    </div>

    <div class="col-md-6">
        <h2>Our Long Term Goal </h2>
        <p class='story1'>Our long-term goal is to expand the gardens to provide food for staff and volunteers throughout each year, and offer our excess to the community. Eventually obtain A goat and chickens to help maintain property grasses and gardens as ecologically capable as we can. This will help us to self sustain even further. We are also working towards solar panels and wind for power.  </p>
        <h2>We want to GROW</h2>
        <p class='story1'> And continue to grow, and keep offering our youth and more of venue to play music in. By 2020 we want to hold a two- 4 week Kid's Rock Camp with teachers to help them to learn to play music, ending in all the kids involved performing at our annual event! Between 2020 and 2025 we hope to be making continual donations to local schools music programs.</p>
        <p class='story1'>This property and it's events will continue to put back into the community by providing excellent entertainment and recreation for all and bring revenue to the surrounding merchants as well, as we have proven for nearly a decade. You cannot imagine the gratitude we feel for the continuing support of all the volunteers, donors, music lovers, musicians & supporters. This year we even have some friends that are helping us seek sponsors! Our Festival Family is AMAZING won't you please help our cause and join our family!!??</p>
    </div>
</div>