<div class="col-md-12 light shadow">
    <p class='lead text-center'>We are located at <br>
        15407 Avon Belden Road <br>
        (almost the Crossroads of Rt 57 & Rt 83)<br>
        Grafton, OH 44044
    </p>
</div>