<div class="row light padd">
    <h1 class="page-header">Donate!</h1>
    
    <div class="col-md-12 light">
        <div class="col-md-12 contact-links">
           <h3> Go to this link:</h3>
        <%= link_to "Click Here To Donate!! <3", "http://www.generosity.com/fundraisers/help-support-lorain-county-music-fest-10/generosity", target: "_blank", class: "btn btn-default btn-lg btn-block" %>
        <h3>For info call Geri 440-654-7000</h3>
        </div>
        <div class="col-md-6">
            <%= image_tag("janis_quote1.jpg", class: "img-responsive") %>
        </div>
        <div class="col-md-6">
           <h3> Below is our profile on GENEROSITY!</h3>
            <h4>YOU CAN HELP!!</h4>
            <ul>
                <li>DO YOU LOVE MUSIC??</li>
                <li>DO YOU SUPPORT LIVE LOCAL PERFORMERS??</li>
                <li>DO YOU ENJOY THE OUTDOORS & CAMPING??</li>
                <li>DO YOU LIKE MAKING FRIENDS NEW & OLD?? </li>
                <li>DO YOU ENJOY CAMPFIRES??</li>
                <li>WOULD YOU LIKE TO HELP KEEP OUR 10 YEAR ANNUAL MUSIC FEST GOING & HELP US ESTABLISH A PERMANENT HOME??</li>
            </ul>
            <hr>
            <%= vendor_placeholders %>
        </div>
        
        <div class="col-md-6 padd light shadow">
            <h3>We are also accepting donations of used, reclaimed, green and new building and finishing materials!</h3>
            <p class="text-info">Anything we can use in the construction of stage, sound tent, pavilion, staff housing, shelter and, bathrooms.
            <blockquote>Like wood, all kinds, panels, metal and fiberglass shed sheeting, paint, tools, screws, nails, stage equipment, camping equipment, tents, or supplies,
            anything that could be recycled or gifted for a outside music camping event etc.</blockquote>
            We could really use a golfcart or gator to help maintain the property and for use for fests! 
            Do you know somebody doing teardowns or remodeling or construction or cleaning out a garage or building in the Lorain County or surrounding area please refer them to us 
            gericiacchi13@gmail.com 440-654-7000 
            we may even be able to pick up materials. <strong>THANK YOU!</strong></p>
        </div>
    </div>
</div>