<div class="col-md-12 light shadow">
    <h1>Red Fall Fest</h1>
    <p>
        RED FALL FEST IS OUR LAST OF THE SEASON DURING SEPTEMBER 16TH-18TH 2016, IT'S IN MEMORY OF OUR DEAR FRIEND MICHELLE ANN 
        JARVIS-ALLEN. ENJOYING THE LAST RAYS OF THE LAST DAYS OF THE SEASON. BANDS TO BE ANNOUNCED! WE SUGGEST A DONATION OF $10 FOR THE WEEKEND. 
        $10 AT GATE. LOCATED AT HARMONY FIELD 15407 AVON BELDEN ROAD, GRAFTON, OHIO. COME AND JOIN US FOR A  PRIMITIVE CAMPOUT, 
        FILLED WITH MUSIC OF ALL GENRES, HAPPY PEOPLE, UNIQUE VENDORS, NATURE & GOOD TIMES!  
    </p>
    <hr>
</div>