<div class="col-md-12 light padd">
    <p>Children 15 and under are free. 
    <br>
    Your donation entitles you to 3 days of primitive camping. 
    <br> &nbsp; &nbsp; &nbsp; (Bring everything you need, 
    we will provide porta potties and entertainment) 
    
    <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>Please respect the property, keep your areas clean, and drop off garbage at designated areas. </strong>
    <hr>
    <br> - NO TOBACCO OR ALCOHOL SALES - NO GLASS BOTTLES - (Cans please or put your drinks in plastic) 
    <br> - NO FIREWORKS 
    <br> - NO ILLEGAL ACTIVITIES 
    <br> - bring a grill for cooking or a FIRE RING for ABOVE GROUND FIRES 
    <hr>
    THANK YOU FOR SUPPORTING LIVE LOCAL MUSIC!
    </p>
    <hr>
    
</div>