<div class="col-md-12 light">
    <h1>Lorain County Music Fest</h1>
    
    <p>   Performers to be announced! We suggest a pre event donation of $10 Tix available thru any band or call 440-654-7000
Will be $15 Donation at gate
Children 15 and under are free. Your donation entitles you to 3 days of primitive camping. (Bring everything you need we will provide porta potties and entertainment) Please respect the property, keep your areas clean, and drop off garbage at designated areas. NO TOBACCO OR ALCOHOL SALES - NO GLASS BOTTLES - (Cans please or put your drinks in plastic) - NO FIREWORKS - NO ILLEGAL ACTIVITIES - bring a grill for cooking or a FIRE RING for ABOVE GROUND FIRES 
THANK YOU FOR SUPPORTING LIVE LOCAL MUSIC!
We are located at 15407 Avon Belden Road 
(almost the Crossroads of Rt 57 & Rt 83)
Grafton, OH 44044
We welcome volunteers, vendors and performers please contact Geri: 
(440) 654-7000
gericiacchi13@gmail.com
http://loraincountymusicfest.weebly.com/
</p>
</div>