<div class="row light padd shadow">
    <h1>Mongo Fest</h1>
    <div class="col-md-6">
        <%= image_tag("birds_eye.jpg", class: "col-md-12") %>
    </div>
    
    <div class="col-md-6">
        <p>
            MONGO FEST WAS AWESOME AS EXPECTED MAY 20TH-22ND 2016 FILLED WITH MUSIC OF ALL GENRES, HAPPY PEOPLE, UNIQUE VENDORS, NATURE & GOOD TIMES!  
        </p>
    </div>
    
</div>