<div class="col-md-12 light padd shadow">
    <h1>Videos</h1>
    <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
            <%= embed("https://www.youtube.com/watch?v=bpjPAd39HLU") %>
        </div>
        <hr>
        <div class="embed-responsive embed-responsive-16by9">
            <%= embed("https://www.youtube.com/watch?v=b4-4BPh0KVY") %>
        </div>
    </div>
    <div class="col-md-6">
        
        <div class="embed-responsive embed-responsive-16by9">
            <%= embed("https://www.youtube.com/watch?v=b4-4BPh0KVY") %>
        </div>
    </div>
</div>